# The Nebari Maintenance Team will be the default owners for everything in the repo.
# The Maintenance team will be assigned to review by default when someone opens a pull request.
*       @nebari-dev/maintenance-team
