# ignore terraform state
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# python
__pycache__

# nix
result

# ignore deploments
do-jupyterhub
aws-jupyterhub
gcp-jupyterhub
modules
quansight-terraform-modules