# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
- ./base/conda-store-healthcheck.yaml
- ./base/jupyterhub-healthcheck.yaml
- ./base/keycloak-healthcheck.yaml
- ./base/dask-gateway-healthcheck.yaml
- ./base/grafana-healthcheck.yaml
- ./base/argo-healthcheck.yaml

patches:
  - target:
      kind: KuberhealthyCheck
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: "{{ namespace }}"
  - target:
      kind: KuberhealthyCheck
      name: conda-store-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://nebari-conda-store-server.{{ namespace }}:5000"
  - target:
      kind: KuberhealthyCheck
      name: jupyterhub-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://
          hub.{{ namespace }}:8081"
  - target:
      kind: KuberhealthyCheck
      name: keycloak-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://keycloak-http.{{ namespace }}"
  - target:
      kind: KuberhealthyCheck
      name: dask-gateway-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://nebari-dask-gateway-gateway-api.{{ namespace }}:8000"
  - target:
      kind: KuberhealthyCheck
      name: grafana-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://nebari-grafana.{{ namespace }}:80"
  - target:
      kind: KuberhealthyCheck
      name: argo-http-check
    patch: |-
      - op: add
        path: /spec/podSpec/containers/0/env/-
        value:
          name: CHECK_URL
          value: "http://argo-workflows-server.{{ namespace }}:2746"
