nbconvert
nbformat
importnb
pytest
black
isort
click
stringcase
IPython
ipykernel 
nbsphinx
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
sphinx-copybutton
sphinx-autoapi
recommonmark
pydata-sphinx-theme
