nbconvert
nbformat
importnb
pytest
black
isort
click
stringcase
IPython
ipykernel
myst-parser
nbsphinx
sphinxcontrib-bibtex
sphinx-copybutton
sphinx-autoapi
sphinx-material
pydata-sphinx-theme
sphinx_rtd_theme