black
click
importnb
ipykernel
IPython
isort
myst-parser
nbconvert
nbformat
nbsphinx
pre-commit
pydata-sphinx-theme
pytest
sphinx_rtd_theme
sphinx-autoapi
sphinx-copybutton
sphinx-copybutton
sphinx-material
sphinxcontrib-bibtex
stringcase
