# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: kuberhealthy
  repo: https://kuberhealthy.github.io/kuberhealthy/helm-repos
  releaseName: kuberhealthy
  namespace: {{ namespace }}
  version: "{{ kuberhealthy_helm_version }}"
  valuesFile: values.yaml
  valuesInline:
    prometheus:
      serviceMonitor:
        namespace: {{ namespace }}
