name: Infracost CI

on:
  pull_request:
    paths:
      - 'qhub/template/stages/02-infrastructure'
      - '.github/workflows/infracost.yml'

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

jobs:
  infracost:
    name: Run Infracost on QHub Infrastructure
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        provider:
          - aws
          - gcp
          - azure

    env:
      TF_ROOT: data/stages/

    steps:
      # Checkout the base branch of the pull request
      - name: Checkout infrastructure
        uses: actions/checkout@v3
        with:
          ref: '${{ github.event.pull_request.base.ref }}'

      - name: Detect changed infrastructure
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            aws:
              - 'qhub/template/stages/02-infrastructure/aws/**'
              - 'qhub/template/stages/01-terraform-state/aws/**'
            gcp:
              - 'qhub/template/stages/02-infrastructure/gcp/**'
            azure:
              - 'qhub/template/stages/02-infrastructure/azure/**'

      # Setup Infracost
      - name: Setup Infracost
        uses: infracost/actions/setup@v2
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      # Set up Python 3.8
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      # Install QHub
      - name: Install QHub
        if: steps.changes.outputs.${{ matrix.provider }} == 'true'
        run: |
          pip install .[dev]

      # Initialize QHub and render the infrastructure
      - name: QHub initialize and render
        run: |
          mkdir data && cd data
          qhub init "${{ matrix.provider }}" --project "TestProvider" --domain "${{ matrix.provider }}.qhub.dev" --auth-provider github --disable-prompt
          cat qhub-config.yaml
          qhub render -c qhub-config.yaml

      # Run Infracost on the base branch to generate the baseline cost
      - name: Generate Infracost cost estimate baseline
        run: |
          infracost breakdown --path=${TF_ROOT} \
                              --format=json \
                              --out-file=/tmp/infracost-base.json
          rm -rf data/

      # Checkout the PR branch
      - name: Checkout PR branch
        uses: actions/checkout@v3

      # Install QHub
      - name: Install QHub
        if: steps.changes.outputs.${{ matrix.provider }} == 'true'
        run: |
          pip install .[dev]

      # Initialize QHub and render the infrastructure
      - name: QHub initialize and render
        run: |
          mkdir data && cd data
          qhub init "${{ matrix.provider }}" --project "TestProvider" --domain "${{ matrix.provider }}.qhub.dev" --auth-provider github --disable-prompt
          cat qhub-config.yaml
          qhub render -c qhub-config.yaml

      # Generate Infracost diff cost estimate only if the file has been changed
      - name: Generate Infracost diff
        run: |
          infracost diff --path=${TF_ROOT} \
                          --format=json \
                          --compare-to=/tmp/infracost-base.json \
                          --out-file=/tmp/infracost.json

      # Generate the cost estimate report and submit it as a PR comment only if the file has been changed
      - name: Post Infracost comment
        run: |
          run_infracost() {
            infracost comment github --path=/tmp/infracost.json \
                                      --repo=$GITHUB_REPOSITORY \
                                      --github-token=${{github.token}} \
                                      --pull-request=${{github.event.pull_request.number}} \
                                      --behavior=update
          }
          if [[ "${{steps.changes.outputs.aws}}" == "true" ]] && [[ "${{matrix.provider}}" == "aws" ]]; then
            run_infracost
          elif [[ "${{steps.changes.outputs.gcp}}" == "true" ]] && [[ "${{matrix.provider}}" == "gcp" ]]; then
            run_infracost
          elif [[ "${{steps.changes.outputs.azure}}" == "true" ]] && [[ "${{matrix.provider}}" == "azure" ]]; then
            run_infracost
          else
            echo "No changes detected in infrastructure"
          fi

      # Save artifacts to the PR
      - name: Save artifacts
        uses: actions/upload-artifact@v3
        with:
          name: infracost-data-${{ matrix.provider }}-${{ github.event.pull_request.base.ref }}
          path: |
            /tmp/infracost.json
            /tmp/infracost-base.json
