name: "Kubernetes Tests"

on:
  pull_request:
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.yoml"
  push:
    branches:
      - main
      - release/\d{4}.\d{1,2}.\d{1,2}
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.yoml"

jobs:
  test-kubernetes:
    name: "Kubernetes Tests"
    runs-on: "cirun-runner--${{ github.run_id }}"
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: "Set NEBARI_IMAGE_TAG=main"
        run: |
          echo "NEBARI_IMAGE_TAG=main" >> "$GITHUB_ENV"
          echo "GITHUB_BASE_REF: ${GITHUB_BASE_REF}"
          echo "GITHUB_HEAD_REF: ${GITHUB_HEAD_REF}"
          echo "GITHUB_REF: ${GITHUB_REF}"
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        env:
          CONDA: /home/runnerx/miniconda3
        with:
          python-version: 3.8
          miniconda-version: "latest"
      - name: Install Nebari
        run: |
          conda install -c anaconda pip
          pip install .[dev]
      - name: Download and Install Kubectl
        run: |
          mkdir -p bin
          pushd bin

          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubectl
          chmod +x kubectl

          echo "$PWD" >> $GITHUB_PATH
          popd
      - name: Enable docker permissions for user
        run: |
          sudo docker ps
          sudo usermod -aG docker $USER && newgrp docker

          docker info
          docker ps
      - name: Get routing table for docker pods
        run: |
          ip route
      - name: Add DNS entry to hosts
        run: |
          sudo echo "172.18.1.100  github-actions.nebari.dev" | sudo tee -a /etc/hosts
      - name: Initialize Nebari Cloud
        run: |
          mkdir -p local-deployment
          cd local-deployment
          nebari init local --project=thisisatest --domain github-actions.nebari.dev --auth-provider=password

          # Need smaller profiles on Local Kind
          sed -i -E 's/(cpu_guarantee):\s+[0-9\.]+/\1: 0.25/g' "nebari-config.yaml"
          sed -i -E 's/(mem_guarantee):\s+[A-Za-z0-9\.]+/\1: 0.25G/g' "nebari-config.yaml"

          cat nebari-config.yaml
      - name: Deploy Nebari
        run: |
          cd local-deployment
          nebari deploy --config nebari-config.yaml --disable-prompt
      - name: Basic kubectl checks after deployment
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A
      - name: Check github-actions.nebari.dev resolves
        run: |
          nslookup github-actions.nebari.dev
      - name: Curl jupyterhub login page
        run: |
          curl -k https://github-actions.nebari.dev/hub/home -i

      ### CYPRESS TESTS
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: npm version
        run: |
          npm --version
      - name: Install Cypress dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      - name: Get nebari-config.yaml full path
        run: echo "NEBARI_CONFIG_PATH=`realpath ./local-deployment/nebari-config.yaml`" >> "$GITHUB_ENV"

      - name: Create example-user
        run: |
          export CYPRESS_EXAMPLE_USER_NAME=example-user
          export CYPRESS_EXAMPLE_USER_PASSWORD=P@sswo3d

          echo "CYPRESS_EXAMPLE_USER_NAME=${CYPRESS_EXAMPLE_USER_NAME}" >> $GITHUB_ENV
          echo "CYPRESS_EXAMPLE_USER_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}" >> $GITHUB_ENV

          nebari keycloak adduser --user "${CYPRESS_EXAMPLE_USER_NAME}" "${CYPRESS_EXAMPLE_USER_PASSWORD}" --config "${NEBARI_CONFIG_PATH}"
          nebari keycloak listusers --config "${NEBARI_CONFIG_PATH}"

      - name: Cypress run
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_BASE_URL: https://github-actions.nebari.dev/
        with:
          working-directory: tests_e2e

      - name: Save Cypress screenshots and videos
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-cypress
          path: |
            ./tests_e2e/cypress/screenshots/
            ./tests_e2e/cypress/videos/

      - name: Deployment Pytests
        run: |
          export KEYCLOAK_USERNAME=${CYPRESS_EXAMPLE_USER_NAME}
          export KEYCLOAK_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}
          pytest tests_deployment/ -v -s

      - name: JupyterHub Notebook Tests
        # run jhub-client after pytest since jhubctl can cleanup
        # the running server
        run: |
          export JUPYTERHUB_USERNAME=${CYPRESS_EXAMPLE_USER_NAME}
          export JUPYTERHUB_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}
          jhubctl --verbose run --hub=https://github-actions.nebari.dev \
                                --auth-type=keycloak \
                                --validate --no-verify-ssl \
                                --kernel python3 \
                                --stop-server \
                                --notebook tests_deployment/assets/notebook/simple.ipynb \

      ### CLEANUP AFTER TESTS
      - name: Cleanup nebari deployment
        run: |
          cd local-deployment
          nebari destroy --config nebari-config.yaml --disable-prompt
