name: "Kubernetes Tests"

on:
  pull_request:
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "qhub/**"
      - "setup.cfg"
      - "pyproject.yoml"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "qhub/**"
      - "setup.cfg"
      - "pyproject.yoml"

jobs:
  test-kubernetes:
    name: "Kubernetes Tests"
    runs-on: [self-hosted, cirun-runner]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: "Set QHUB_IMAGE_TAG=main"
        run: |
          echo "QHUB_IMAGE_TAG=main" >> "$GITHUB_ENV"
          echo "GITHUB_BASE_REF: ${GITHUB_BASE_REF}"
          echo "GITHUB_HEAD_REF: ${GITHUB_HEAD_REF}"
          echo "GITHUB_REF: ${GITHUB_REF}"
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        env:
          CONDA: /home/runnerx/miniconda3
        with:
          python-version: 3.8
          miniconda-version: "latest"
      - name: Install QHub
        run: |
          conda install -c anaconda pip
          pip install .[dev]
      - name: Download and Install Kind and Kubectl
        run: |
          mkdir -p bin
          pushd bin
          curl -L https://github.com/kubernetes-sigs/kind/releases/download/v0.12.0/kind-linux-amd64 -o kind
          chmod +x kind

          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubectl
          chmod +x kubectl

          echo "$PWD" >> $GITHUB_PATH
          popd
      - name: Enable docker permissions for user
        run: |
          sudo docker ps
          sudo usermod -aG docker $USER && newgrp docker

          docker info
          docker ps
      - name: Pull docker images
        run: |
          images=( ${REGISTRY}/nebari-jupyterhub:${TAG} ${REGISTRY}/nebari-jupyterlab:${TAG} ${REGISTRY}/nebari-dask-worker:${TAG} )
          for img in "${images[@]}"; do docker pull $img; done
        env:
          TAG: sha-43788cc
          REGISTRY: quay.io/nebari
      - name: Load Kind
        run: |
          kind load docker-image ${REGISTRY}/nebari-jupyterhub:${TAG} ${REGISTRY}/nebari-jupyterlab:${TAG} ${REGISTRY}/nebari-dask-worker:${TAG}
        env:
          TAG: sha-43788cc
          REGISTRY: quay.io/nebari
      - name: List docker images in minikube
        run: |
          docker images
      - name: Get routing table for docker pods
        run: |
          ip route
      - name: Add DNS entry to hosts
        run: |
          sudo echo "172.20.1.100  github-actions.qhub.dev" | sudo tee -a /etc/hosts
      - name: Initialize QHub Cloud
        run: |
          mkdir -p local-deployment
          cd local-deployment
          qhub init local --project=thisisatest --domain github-actions.qhub.dev --auth-provider=password

          # # Need smaller profiles on Minikube
          # sed -i -E 's/(cpu_guarantee):\s+[0-9\.]+/\1: 0.25/g' "qhub-config.yaml"
          # sed -i -E 's/(mem_guarantee):\s+[A-Za-z0-9\.]+/\1: 0.25G/g' "qhub-config.yaml"

          cat qhub-config.yaml
      - name: Deploy QHub Cloud
        run: |
          cd local-deployment
          qhub deploy --config qhub-config.yaml --disable-prompt
      - name: Basic kubectl checks after deployment
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A
      - name: Check github-actions.qhub.dev resolves
        run: |
          nslookup github-actions.qhub.dev
      - name: Curl jupyterhub login page
        run: |
          curl -k https://github-actions.qhub.dev/hub/home -i

      ### CYPRESS TESTS
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: npm version
        run: |
          npm --version
      - name: Install Cypress dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      - name: Get qhub-config.yaml full path
        run: echo "QHUB_CONFIG_PATH=`realpath ./local-deployment/qhub-config.yaml`" >> "$GITHUB_ENV"

      - name: Create example-user
        run: |
          export CYPRESS_EXAMPLE_USER_NAME=example-user
          export CYPRESS_EXAMPLE_USER_PASSWORD=P@sswo3d

          echo "CYPRESS_EXAMPLE_USER_NAME=${CYPRESS_EXAMPLE_USER_NAME}" >> $GITHUB_ENV
          echo "CYPRESS_EXAMPLE_USER_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}" >> $GITHUB_ENV

          qhub keycloak --config "${QHUB_CONFIG_PATH}" adduser "${CYPRESS_EXAMPLE_USER_NAME}" "${CYPRESS_EXAMPLE_USER_PASSWORD}"
          qhub keycloak --config "${QHUB_CONFIG_PATH}" listusers

      - name: Cypress run
        uses: cypress-io/github-action@v2
        env:
          CYPRESS_BASE_URL: https://github-actions.qhub.dev/
        with:
          working-directory: tests_e2e

      - name: Save Cypress screenshots and videos
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-cypress
          path: |
            ./tests_e2e/cypress/screenshots/
            ./tests_e2e/cypress/videos/

      - name: Deployment Pytests
        run: |
          export KEYCLOAK_USERNAME=${CYPRESS_EXAMPLE_USER_NAME}
          export KEYCLOAK_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}
          pytest tests_deployment/ -v -s

      - name: JupyterHub Notebook Tests
        # run jhub-client after pytest since jhubctl can cleanup
        # the running server
        run: |
          export JUPYTERHUB_USERNAME=${CYPRESS_EXAMPLE_USER_NAME}
          export JUPYTERHUB_PASSWORD=${CYPRESS_EXAMPLE_USER_PASSWORD}
          jhubctl --verbose run --hub=https://github-actions.qhub.dev \
                                --auth-type=keycloak \
                                --validate --no-verify-ssl \
                                --kernel python3 \
                                --stop-server \
                                --notebook tests_deployment/assets/notebook/simple.ipynb \

      ### CLEANUP AFTER TESTS
      - name: Cleanup qhub deployment
        run: |
          cd local-deployment
          qhub destroy --config qhub-config.yaml

      - name: Basic kubectl checks after cleanup
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A
