name: "Kubernetes Tests"

env:
  EXAMPLE_USER_NAME: example-user
  EXAMPLE_USER_PASSWORD: P@sswo3d
  TEST_DOMAIN: github-actions.nebari.dev

on:
  pull_request:
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "scripts/**"
      - "src/**"
      - "pyproject.toml"
      - "pytest.ini"
      - ".cirun.yml"
  push:
    branches:
      - main
      - develop
      - release/\d{4}.\d{1,2}.\d{1,2}
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "scripts/**"
      - "src/**"
      - "pyproject.toml"
      - "pytest.ini"
      - ".cirun.yml"
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: string

jobs:
  test-kubernetes:
    name: "Kubernetes Tests"
    runs-on: "cirun-runner--${{ github.run_id }}"
    defaults:
      run:
        shell: bash -l {0}
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - name: "Set NEBARI_IMAGE_TAG=main"
        run: |
          echo "NEBARI_IMAGE_TAG=main" >> "$GITHUB_ENV"
          echo "GITHUB_BASE_REF: ${GITHUB_BASE_REF}"
          echo "GITHUB_HEAD_REF: ${GITHUB_HEAD_REF}"
          echo "GITHUB_REF: ${GITHUB_REF}"

      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main

      - name: Checkout the branch from the PR that triggered the job
        if: ${{ github.event_name == 'issue_comment' }}
        run: |
          hub version
          hub pr checkout ${{ inputs.pr_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        env:
          CONDA: /home/runnerx/miniconda3
        with:
          python-version: 3.8
          miniconda-version: "latest"
      - name: Install Nebari
        run: |
          conda install --quiet --yes -c anaconda pip
          pip install .[dev]
          playwright install
      - name: Download and Install Kubectl
        run: |
          mkdir -p bin
          pushd bin

          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubectl
          chmod +x kubectl

          echo "$PWD" >> $GITHUB_PATH
          popd
      - name: Enable docker permissions for user
        run: |
          sudo docker ps
          sudo usermod -aG docker $USER && newgrp docker

          docker info
          docker ps
      - name: Get routing table for docker pods
        run: |
          ip route
      - name: Initialize Nebari Cloud
        run: |
          mkdir -p local-deployment
          cd local-deployment
          nebari init local --project=thisisatest --domain "${TEST_DOMAIN}" --auth-provider=password

          # Need smaller profiles on Local Kind
          sed -i -E 's/(cpu_guarantee):\s+[0-9\.]+/\1: 0.25/g' "nebari-config.yaml"
          sed -i -E 's/(mem_guarantee):\s+[A-Za-z0-9\.]+/\1: 0.25G/g' "nebari-config.yaml"

          cat nebari-config.yaml
      - name: Deploy Nebari
        working-directory: local-deployment
        run: |
          nebari deploy --config nebari-config.yaml --disable-prompt

      - name: Basic kubectl checks after deployment
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A

      - name: Check github-actions.nebari.dev resolves
        run: |
          nslookup ${TEST_DOMAIN}

      - name: Curl jupyterhub login page
        run: |
          curl -k https://${TEST_DOMAIN}/hub/home -i

      - name: Create example-user
        working-directory: local-deployment
        run: |
          nebari keycloak adduser --user "${EXAMPLE_USER_NAME}" "${EXAMPLE_USER_PASSWORD}" --config nebari-config.yaml
          nebari keycloak listusers --config nebari-config.yaml

      - name: Playwright Tests
        run: |
          mkdir screenshots
          xvfb-run pytest -m local tests/tests_integration

      - name: Save screenshots
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: integration-playwright
          path: |
            ./screenshots/

      - name: Deployment Pytests
        run: |
          export KEYCLOAK_USERNAME=${EXAMPLE_USER_NAME}
          export KEYCLOAK_PASSWORD=${EXAMPLE_USER_PASSWORD}
          pytest tests/tests_deployment/ -v -s

      - name: JupyterHub Notebook Tests
        timeout-minutes: 2
        # run jhub-client after pytest since jhubctl can cleanup
        # the running server
        run: |
          sleep 60
          export JUPYTERHUB_USERNAME=${EXAMPLE_USER_NAME}
          export JUPYTERHUB_PASSWORD=${EXAMPLE_USER_PASSWORD}
          jhubctl --verbose run --hub=https://${TEST_DOMAIN} \
                                --auth-type=keycloak \
                                --validate --no-verify-ssl \
                                --kernel python3 \
                                --stop-server \
                                --notebook tests/tests_deployment/assets/notebook/simple.ipynb \

      ### CLEANUP AFTER TESTS
      - name: Cleanup nebari deployment
        run: |
          cd local-deployment
          nebari destroy --config nebari-config.yaml --disable-prompt
