name: "Kubernetes Tests"

on:
  pull_request:
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "qhub/**"
      - "setup.cfg"
      - "pyproject.yoml"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/kubernetes_test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "qhub/**"
      - "setup.cfg"
      - "pyproject.yoml"

jobs:
  test-kubernetes:
    name: "Kubernetes Tests"
    runs-on: self-hosted
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: 'QHUB_GH_BRANCH set for PR'
        run: |
          echo "QHUB_GH_BRANCH=${GITHUB_SHA}" >> "$GITHUB_ENV"
          echo "GITHUB_BASE_REF: ${GITHUB_BASE_REF}"
          echo "GITHUB_HEAD_REF: ${GITHUB_HEAD_REF}"
          echo "GITHUB_REF: ${GITHUB_REF}"
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        env:
          CONDA: /home/runnerx/miniconda3
        with:
          python-version: 3.8
          miniconda-version: "latest"
      - name: Install QHub
        run: |
          conda install -c anaconda pip
          pip install .[dev]
      - name: Download and Install Minikube and Kubectl
        run: |
          mkdir -p bin
          pushd bin
          curl -L https://github.com/kubernetes/minikube/releases/download/v1.22.0/minikube-linux-amd64 -o minikube
          chmod +x minikube

          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubectl
          chmod +x kubectl

          echo "$PWD" >> $GITHUB_PATH
          popd
      - name: Start Minikube
        run: |
          sudo docker ps
          sudo usermod -aG docker $USER && newgrp docker
          minikube start --kubernetes-version=1.19.4 --driver=docker --cpus 4 --memory 12288 --wait=all
      - name: Print minikube and kubectl versions
        run: |
          minikube version
          kubectl version
      - name: Use minikube docker daemon
        run: |
          eval $(minikube docker-env)
          echo "DOCKER_TLS_VERIFY=$DOCKER_TLS_VERIFY" >> $GITHUB_ENV
          echo "DOCKER_HOST=$DOCKER_HOST" >> $GITHUB_ENV
          echo "DOCKER_CERT_PATH=$DOCKER_CERT_PATH" >> $GITHUB_ENV
          echo "MINIKUBE_ACTIVE_DOCKERD=$MINIKUBE_ACTIVE_DOCKERD" >> $GITHUB_ENV
      - name: Print docker connection information
        run: |
          docker info
          docker ps
      - name: Build docker images
        run: |
          cd qhub/template/image
          docker buildx bake
        env:
          TAG: ${{ github.sha }}
      - name: List docker images in minikube
        run: |
          docker images
      - name: Get routing table for docker pods
        run: |
          ip route
      - name: Configure LoadBalancer IPs
        run: |
          python tests/scripts/minikube-loadbalancer-ip.py
      - name: Add DNS entry to hosts
        run: |
          sudo echo "192.168.49.100  github-actions.qhub.dev" | sudo tee -a /etc/hosts
      - name: Enable Minikube metallb
        run: |
          minikube addons enable metallb
      - name: Basic kubectl checks before deployment
        run: |
          kubectl get all,cm,secret,ing -A
      - name: Initialize QHub Cloud
        run: |
          mkdir -p local-deployment
          cd local-deployment
          qhub init local --project=thisisatest --domain github-actions.qhub.dev --auth-provider=password

          # Need smaller profiles on Minikube
          sed -i -E 's/(cpu_guarantee):\s+[0-9\.]+/\1: 0.25/g' "qhub-config.yaml"
          sed -i -E 's/(mem_guarantee):\s+[A-Za-z0-9\.]+/\1: 0.25G/g' "qhub-config.yaml"

          cat qhub-config.yaml
      - name: Deploy QHub Cloud
        run: |
          cd local-deployment
          qhub deploy --config qhub-config.yaml --disable-prompt
      - name: Basic kubectl checks after deployment
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A
      - name: Check github-actions.qhub.dev resolves
        run: |
          nslookup github-actions.qhub.dev
      - name: Curl jupyterhub login page
        run: |
          curl -k https://github-actions.qhub.dev/hub/home -i

      ### CYPRESS TESTS
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: npm version
        run: |
          npm --version
      - name: Install Cypress dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      - name: Read example-user password
        run: python -c "import tempfile, os; print('CYPRESS_EXAMPLE_USER_PASSWORD='+open(os.path.join(tempfile.gettempdir(), 'QHUB_DEFAULT_PASSWORD')).read())" >> "$GITHUB_ENV"

      - name: Get qhub-config.yaml full path
        run: echo "QHUB_CONFIG_PATH=`realpath ./local-deployment/qhub-config.yaml`" >> "$GITHUB_ENV"

      - name: Create example-user
        run: |
          qhub keycloak --config "${QHUB_CONFIG_PATH}" adduser example-user "${CYPRESS_EXAMPLE_USER_PASSWORD}"
          qhub keycloak --config "${QHUB_CONFIG_PATH}" listusers

      - name: Cypress run
        uses: cypress-io/github-action@v2
        env:
          CYPRESS_BASE_URL: https://github-actions.qhub.dev/
        with:
          working-directory: tests_e2e

      - name: Save Cypress screenshots and videos
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-cypress
          path: |
            ./tests_e2e/cypress/screenshots/
            ./tests_e2e/cypress/videos/

      - name: JupyterHub Notebook Tests
        run: |
          export JUPYTERHUB_USERNAME=qhub-user
          export JUPYTERHUB_PASSWORD=password
          jhubctl --verbose run --hub=https://github-actions.qhub.dev \
                                --auth-type=keycloak \
                                --validate --no-verify-ssl \
                                --kernel python3 \
                                --notebook tests_deployment/assets/notebook/simple.ipynb

      - name: Deployment Pytests
        run: |
          export KEYCLOAK_USERNAME=qhub-user
          export KEYCLOAK_PASSWORD=password
          qhub keycloak --config "${QHUB_CONFIG_PATH}" adduser $KEYCLOAK_USERNAME $KEYCLOAK_PASSWORD
          pytest tests_deployment/ -v

      ### CLEANUP AFTER TESTS
      - name: Cleanup qhub deployment
        run: |
          cd local-deployment
          # This is a known failure at the moment.
          qhub destroy --config qhub-config.yaml || true

      - name: Basic kubectl checks after cleanup
        if: always()
        run: |
          kubectl get all,cm,secret,ing -A
