name: "Release"

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: 'PyPi Release'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      # Could check that the version.py version number matches the tag
      # and that the branch release-<version> also points to this tag
      # and that terraform-modules tag release-{version} exists.
      # See https://github.com/Quansight/qhub/issues/544

      - name: Install QHub
        run: |
          pip install twine
      - name: Build and Distribute
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist
          twine upload -u $PYPI_USERNAME -p $PYPI_PASSWORD dist/*
