name: Run pre-commit

on:
  push:
    branches: [ main, 'release/v[0-9].[0-9]+' ]
  pull_request:

jobs:
  pre-commit:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all
