name: "Tests"

on:
  pull_request: # Workflow only runs for PR against main anyway
  push:
    branches:
      - '**'
    tags:
      - 'v*'
    paths-ignore:
      - "docs/**"
      - "*.md"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-general:
    name: 'Test Package'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install QHub
        run: |
          pip install .[dev]
      - name: Black Formatting
        run: |
          black --version
          black qhub --diff
          black --check qhub
      - name: Flake8 Formatting
        run: |
          flake8 --version
          flake8 --builtins=c
      - name: Test QHub
        run: |
          pytest --version
          pytest --ignore=tests_deployment
