name: "Tests"

on:
  pull_request:
    paths:
      - ".github/workflows/test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.yoml"
  push:
    branches:
      - main
      - release/\d{4}.\d{2}.\d{1,2}
    paths:
      - ".github/workflows/test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.yoml"

jobs:
  test-general:
    name: 'Test Package'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Nebari
        run: |
          pip install .[dev]
      - name: Black Formatting
        run: |
          black --version
          black nebari --diff --exclude "nebari/_version.py"
          black --check nebari --exclude "nebari/_version.py"
      - name: Flake8 Formatting
        run: |
          flake8 --version
          flake8
      - name: Test Nebari
        run: |
          pytest --version
          pytest --ignore=tests_deployment
