name: "Tests"

on:
  pull_request:
    paths:
      - ".github/workflows/test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.toml"
  push:
    branches:
      - main
      - develop
      - release/\d{4}.\d{1,2}.\d{1,2}
    paths:
      - ".github/workflows/test.yaml"
      - "tests/**"
      - "tests_deployment/**"
      - "tests_e2e/cyrpress/**"
      - "scripts/**"
      - "nebari/**"
      - "setup.cfg"
      - "pyproject.toml"

jobs:
  test-general:
    name: "Pytest"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    steps:
      - name: "Checkout Infrastructure"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Nebari
        run: |
          pip install .[dev]
      - name: Test Nebari
        run: |
          pytest --version
          pytest --ignore=tests_deployment
